<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Detail Recipe</title>
        <link rel="stylesheet" href="add-recipe.css">
    </head>
    <body>
        <div class="add-recipe-wrap">
            <p>Red Bean Dorayaki</p>
 <!--           <img src="Rumia.png" class="add-recipe-wrap-image"> -->
            <div class="add-recipe-settings">
                <img src="Rumia.png" class="add-recipe-wrap-image">
            </div>
            <div class="add-recipe-settings">
                <p class="add-recipe-list">List</p>
                <ol>
                    <li>Red Bean Paste : 500gr</li>
                    <li>Sugar : 500gr</li>
                    <li>Eggs : 5</li>
                    <li>Flour</li>
                    <li>Milk</li>
                </ol>
                <form action="/recipe" method="POST">
                <label for="Rewrite Comment">Rewrite Comment</label>
                <input class="add-recipe-input "type="text" name="p_comment" placeholder="Fill in">
                <label for="Rewrite Comment">Reason</label>
                <input class="add-recipe-input "type="text" name="p_reason" placeholder="Fill in">
                <button type="submit" class="add-recipe-submit">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>