<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale = 1.0">
        <title>Login Form Last Fighter Factory</title>
        <link rel="stylesheet" href="/login.css" />
    </head>
    <body>
        <form class="login-form" action="/recipe" id="Login_Form" method="post">
            <div class="login-form-pabrik-name">
                <h1>Last Fighter Factory</h1>
            </div>
            <div class="login-form-content">
                <div class="login-form-header">
                    Login to Your Account in Last Fighter Factory
                </div>
                <input class="login-form-input "type="text" name="p_username" placeholder="Username">
                <input class="login-form-input "type="password" name="p_password" placeholder="Password">
                <button class="login-form-button" type="submit">Login</button>
                <div class="login-form-register">
                    <a href="/register" class="login-form-register1">Didn't Have an Account, Sign Up Here!</a>
                </div>
            </div>
        </form>
    </body>
</html>