<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recipe Last Fighter</title>
        <link rel="stylesheet" href="recipe.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <p>Recipe List</p>
        <table class="recipe-content">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Dorayaki Recipe</th>
                    <th>Detail</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Red Bean Dorayaki</td>
                    <td>Click Here!</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Sweet Bean Dorayaki</td>
                    <td>Click Here!</td>
                </tr>
            </tbody>
        </table>
        <div class="recipe-add-option">
            <a class="recipe-add-option1" href="/add-recipe">Go To Adding Recipe</a>
        </div>
        </body>
</html>