<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Detail Recipe</title>
        <link rel="stylesheet" href="recipe-detail.css">
    </head>
    <body>
        <div class="recipe-detail-wrap">
            <p>Red Bean Dorayaki</p>
 <!--           <img src="Rumia.png" class="recipe-detail-wrap-image"> -->
            <div class="recipe-detail-settings">
                <img src="Rumia.png" class="recipe-detail-wrap-image">
            </div>
            <div class="recipe-detail-settings">
                <p class="recipe-detail-list">List</p>
                <ol>
                    <li>Red Bean Paste : 500gr</li>
                    <li>Sugar : 500gr</li>
                    <li>Eggs : 5</li>
                    <li>Flour</li>
                    <li>Milk</li>
                </ol>
                <fieldset>
                    <legend>Comment</legend>
                    <p class="recipe-detail-comment">
                        This Red Bean Dorayaki shall make you fell to the world of sweetness.
                    </p>
                </fieldset>
            </div>
        </div>
    </body>
</html>