<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale = 1.0">
        <title>Register Form Last Fighter Factory</title>
        <link rel="stylesheet" href="register.css">
    </head>
    <body>
        <form class="register-form" action="/auth/register" method="POST">
            <div class="register-form-pabrik-name">
                <h1>Last Fighter Factory</h1>
            </div>
            <div class="register-form-content">
                <div class="register-form-header">
                    Register Your Account in Last Fighter Factory!
                </div>
                <input class="register-form-input "type="text" name="p_username" placeholder="Username">
                <input class="register-form-input "type="password" name="p_password" placeholder="Password">
                <input class="register-form-input "type="email" name="p_email" placeholder="E-Mail">
                <button class="register-form-button" type="submit">Register</button>
                <div class="register-form-register">
                    <a href="/" class="register-form-register1">Have an Account Already, Login Up Here!</a>
                </div>
            </div>
        </form>
    </body>
</html>