body{
    background: black;
    margin: 20px;
    margin-bottom: 60px;
    line-height: 1.6;
}

p{
    color: azure;
    font-size: 24px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    border-bottom: 1px solid white;
}

.recipe-content{
    border-collapse: collapse;
    margin: 30px auto;
    font-size: 0.8em;
    width: 40%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(255,255,255,0.85);
}

.recipe-content thead tr{
    background: darkslateblue;
    color: aliceblue;
    text-align: center;
    border-bottom: 2px solid red;
    font-weight: bold;
}

.recipe-content th,
.recipe-content td{
    padding: 15px 20px;
}

.recipe-content tbody tr{
    background: white;
    color: black;
    text-align: center;
    border-bottom: 1px solid lightslategray;
}

.recipe-content tbody tr:nth-of-type(even){
    background: lightgreen;
}

.recipe-content tbody tr:last-of-type{
    border-bottom: 3px solid darkslateblue;
}

.recipe-add-option{
    margin-top: 20px;
    text-align: center;
}
.recipe-add-option1{
    font-weight: bold;
    color: aliceblue;
    text-decoration: none;
}